{% extends 'base.html' %}
{% block content %}
<div class="mb-3 d-flex justify-content-between align-items-center">
  <div>
    <h3>{{ note.title or '(Không tiêu đề)' }}</h3>
    <div class="text-muted">Người tạo: {{ note.author_username}} • {{ note.created_at.strftime('%H:%M:%S %d/%m/%Y') }}</div>
      <!-- <div class="text-muted">• {{ note.created_at }}</div> -->
  </div>
  <div>
    {% if current_user.role == 'admin' or note.member_id == current_user.id %}
    <a class="btn btn-primary me-2" href="{{ url_for('edit_note', nid=note.id) }}">Chỉnh sửa</a>
    <form method="post" action="{{ url_for('delete_note', nid=note.id) }}" style="display:inline" onsubmit="return confirm('Xóa ghi chú này?');">
      <button class="btn btn-danger">Xóa</button>
    </form>
    {% endif %}
    <a class="btn btn-secondary ms-2" href="{{ url_for('index') }}">Quay lại</a>
  </div>
</div>

<div class="card">
  <div class="card-body" style="white-space: pre-wrap;">
    {{ note.content or '(Không có nội dung)' }}
  </div>
</div>
{% endblock %}
